  <md-dialog style="resize: none;">
              <md-dialog-title>General Info-To be Printed</md-dialog-title>
	             <md-dialog-content><textarea id="mytext" style="width:700px;height:250px;resize: none;" ng-disabled="isValue=='ACCEPTED' " ng-change="handleValue()" ng-model="geneprinted"></textarea> </md-dialog-content>

	            <md-dialog-actions>
	                <md-button ng-disabled="isValue=='ACCEPTED' " ng-click="saveDialog()" class="md-primary">
	            Save
	             </md-button>
	             <md-button ng-click="closeDialog()" class="md-primary">
	             Close 
	            </md-button>
	            </md-dialog-actions>
	            
	            
	   </md-dialog>