<div class="row">
	<div  class="col-xs-6 col-sm-6 col-md-6 col-lg-7 ">
		<label class="label-case-introduction margin-top-case-introduction-motor">{{'v4.agentSale.product.' + productName | translate}}</label><br/>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.can.introduction' | translate}}</p>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text1' | translate}}</p>
		
		
	</div>
	
	<div  class="col-xs-6 col-sm-6 col-md-6 col-lg-5 case-introduction-layout-marine">
	</div>
	<div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-left-0 " style="
    margin-top: -250px;">
			<button class="v4-btn v4-btn-lg" ng-click="createNewProduct('case')" style="margin-left:10px;">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.CreateNewCase' | translate}}</button>
			<button class="v4-btn-bg-black-txt-white v4-btn v4-btn-lg" ng-click="goBackToDashboard()" style="margin-left:150px;">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.Cancel' | translate}}</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			
			</div>
		</div>
</div>