<div class="row">
	<div  class="col-xs-6 col-sm-6 col-md-6 col-lg-7 ">
		<label class="label-case-introduction margin-top-case-introduction-motor">{{'v4.agentSale.product.' + productName | translate}}</label>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.mic.introduction' | translate}}</p>
		<label class="text-introduction-case" style="font-weight: 700; font-style: italic">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage' | translate}}</label>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text1' | translate}}</p>
		<ul>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text2' | translate}}</li>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text3' | translate}}</li>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text4' | translate}}</li>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text5' | translate}}</li>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text6' | translate}}</li>
			<li class="text-introduction-case marineTextList">{{'v4.catalogDlg.agentSale.content.title.mic.introduction.Coverage.text7' | translate}}</li>
		</ul>
		<br>
		<label class="text-introduction-case" style="font-weight: 700; font-style: italic">{{'v4.catalogDlg.agentSale.content.title.mt1.introduction.SumInsured' | translate}}</label>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.mt1.introduction.SumInsured.text1' | translate}}</p>
		<label class="text-introduction-case" style="font-weight: 700; font-style: italic">{{'v4.catalogDlg.agentSale.content.title.mt1.introduction.InsuredPeriod' | translate}}</label>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.mt1.introduction.InsuredPeriod.text1' | translate}}</p>
		<div class= "row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-left-0 ">
			<button class="v4-btn v4-btn-lg" ng-click="createNewProduct('case')">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.CreateNewCase' | translate}}</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			<button class="v4-btn-bg-black-txt-white v4-btn v4-btn-lg" ng-click="goBackToDashboard()">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.Cancel' | translate}}</button>
			</div>
		</div>
	</div>
	<div  class="col-xs-6 col-sm-6 col-md-6 col-lg-5 case-introduction-layout-marine">
	</div>
</div>