<div class="row">
	<div  class="col-xs-12 col-sm-5 col-md-4 col-lg-4 ">
		<label class="label-case-introduction margin-top-case-introduction">{{'v4.agentSale.product.' + productName | translate}}</label>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.note1' | translate}}</p>
		<br>
		<p class="text-introduction-case">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.note2' | translate}}</p>
		<div class= "row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-left-0 ">
			<button class="v4-btn v4-btn-lg" ng-click="createNewProduct('case')">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.CreateNewCase' | translate}}</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			<button class="v4-btn-bg-black-txt-white v4-btn v4-btn-lg" ng-click="goBackToDashboard()">{{'v4.catalogDlg.agentSale.content.title.RegularPreUnitLinked.introduction.Cancel' | translate}}</button>
			</div>
		</div>
	</div>
	<div  class="col-xs-12 col-sm-7 col-md-8 col-lg-8 case-introduction-layout">
	</div>
</div>